<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<link rel="stylesheet" th:href="@{/dist/css/adminRegister.css}">-->
<th:block th:replace="~{layout :: setFragment(~{this::content})}">
    <th:block th:fragment="content">

        <h1>예약 리스트</h1>
        <div class="container text-center">
            <div class="row">

                <th:block th:each="reservation:${reservationList}">

                    <div class="col">
                        <div class="card text-bg-dark mb-3 border-warning mb-3" style="width: 25rem;">
                        <img src="/img/userImg.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">테마 번호 : [[${reservation.themeNum }]]</h5>
                            <p class="card-title">테마 이름 : [[${reservation.themeName }]]</p>
                            <p class="card-title">난이도 : [[${reservation.difficulty }]]</p>
                            <p class="card-title">장르 : [[${reservation.genre }]]</p>
                            <p class="card-title">추천인원 : [[${reservation.recNumPeople }]]</p>
                            <p class="card-title">플레이 : [[${reservation.playTime }]]</p>
                            <p class="card-title">설명 : [[${reservation.description }]]</p>
                            <p class="card-title">사진 : [[${reservation.uuid }]]</p>

                        </div>
                    </div>
                    </div>

                </th:block>


            </div>
        </div>
        </div>









    </th:block>
</th:block>
</html>