<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/dist/css/adminBoard.css}">
</head>
<body>
<th:block th:replace="~{layout :: setFragment(~{this::content})}">
    <th:block th:fragment="content">
        <div class="userContainer">
            <h2 class="userList">관리자 게시판</h2>

            <div class="container-md">
                <div class="filterContainer">
                    <form action="/adminRegister/adminBoard" method="get">
                        <input type="text" name="keyword" placeholder="검색" class="searchInput" th:value="${keyword}">
                        <select name="type" aria-label="Small select example" class="qna-list-select">
                            <option th:selected="${type == null ? true : false}" value="">선택</option>
                            <option th:value="t" th:selected="${type == 't' ? true : false}">제목</option>
                            <option th:value="w" th:selected="${type == 'w' ? true : false}">작성자</option>
                            <option th:value="c" th:selected="${type == 'c' ? true : false}">게시글</option>
                            <option th:value="completed" th:selected="${type == 'completed' ? true : false}">답변 완료</option>
                            <option th:value="uncompleted" th:selected="${type == 'uncompleted' ? true : false}">답변 미완료</option>
                        </select>
                        <button type="submit" class="searchButton">검색</button>
                    </form>
                </div>

                <table class="responsive-table board-table">
                    <thead>
                    <tr>
                        <th scope="col" class="th-num">번호</th>
                        <th scope="col" class="th-title">제목</th>
                        <th scope="col" class="th-writer">작성자</th>
                        <th scope="col" class="th-date">작성일</th>
                        <th scope="col" class="th-cmt">답변상태</th>
                        <th scope="col" class="th-views">조회수</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="qna : ${list}">
                        <tr>
                            <td data-title="번호">
                                <span th:if="${qna.isNotice == 'true'}">공지사항</span>
                                <span th:unless="${qna.isNotice == 'true'}" th:text="${qna.bno}">번호</span>
                            </td>
                            <td data-title="제목">
                                <a th:if="${qna.isSecret == 'true' }" style="color: black; text-decoration: none;"
                                   th:href="@{'/admin/adminDetail?bno=' + ${qna.bno}}" th:attr="data-bno=${qna.bno}">
                                    [[${qna.title}]]
                                    <span>
                                        <img th:id="'lockIcon' + ${qna.bno}" style="width: 25px; height: 25px; cursor: pointer;"
                                             src="../dist/image/rock.png">
                                    </span>
                                </a>
                                <a th:if="${qna.isSecret != 'true' }"  th:href="@{'/admin/adminDetail?bno=' + ${qna.bno}}"
                                   style="color: black; text-decoration: none;">
                                    [[${qna.title}]]
                                </a>
                            </td>
                            <td data-title="작성자" th:text="${qna.writer}">작성자</td>
                            <td data-title="작성일" th:text="${qna.regDate}">작성일</td>
                            <td class='dis_none' th:if="${qna.isNotice == 'true'}"></td>
                            <!-- isNotice가 false인 경우에만 cmtQty 열을 표시 -->
                            <td class='dis_none' th:unless="${qna.isNotice == 'true'}"
                                th:text="${qna.cmtQty > 0 ? '답변 완료' : '답변 미완료'}"
                                th:classappend="${qna.cmtQty > 0 ? 'completed' : 'uncompleted'}"></td>
                            <td data-title="조회수" th:text="${qna.readCount}">조회수</td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>

                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li th:if="${ph.prev}" class="page-item">
                            <a class="page-link" th:href="@{/adminRegister/adminBoard(page=${ph.startPage-1}, qty=${ph.pgvo.qty}, keyword=${keyword}, type=${type})}" aria-label="Previous">
                                <span aria-hidden="true"></span>
                            </a>
                        </li>

                        <th:block th:each="page : ${#numbers.sequence(ph.startPage, ph.endPage)}">
                            <li class="page-item" th:classappend="${ph.pgvo.pageNo == page} ? 'active' : '' " aria-current="page">
                                <a class="page-link" th:href="@{/adminRegister/adminBoard(page=${page}, qty=${ph.pgvo.qty}, keyword=${keyword}, type=${type})}">[[${page}]]</a>
                            </li>
                        </th:block>

                        <li th:if="${ph.next}" class="page-item">
                            <a class="page-link" th:href="@{/adminRegister/adminBoard(page=${ph.endPage+1}, qty=${ph.pgvo.qty}, keyword=${keyword}, type=${type})}" aria-label="Next">
                                <span aria-hidden="true"></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <script th:src="@{/dist/js/adminBoard.js}"></script>
    </th:block>
</th:block>
</body>
</html>
