<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" th:href="@{/dist/css/login_register.css}">
<th:block th:replace="~{layout :: setFragment(~{this::content})}">
    <th:block th:fragment="content">
        <div class="wrapper" >
            <div class="containerLR">
                <div class="sign-up-container">
                    <form action="/member/register" method="post">
                        <img height="70px" src="/dist/image/logoWhite1.png" class="registerLogo">
                        <h1>계정 생성</h1>
                        <div class="social-login">
                            <a href="/oauth2/authorization/kakao" class="button kakao-login">
                                <img src="/dist/image/kakaotalk-seeklogo.svg" alt="Kakao Logo">
                                카카오 로그인
                            </a>
                            <a href="/oauth2/authorization/naver" class="button naver-login">
                                <img src="/dist/image/btnW_icon.png" alt="Naver Logo">
                                네이버 로그인
                            </a>
                            <a href="/oauth2/authorization/google" class="button google-login">
                                <img src="/dist/image/goglelogo.png" alt="Google Logo">
                                구글 로그인
                            </a>
                        </div>

                        <span class="spanLR">또는 홈페이지 회원</span>

                        <label for="email"></label><input type="email"  name="email" id="email" placeholder="수신가능한 이메일을 입력해주세요. 예) example@test.com">
                        <button type="button" id="checkBtn" class="btn btn-outline-light">아이디 유효성 체크</button>
                        <div id="check"></div>
                        <button type="button" id="emailSendNumberBtn" class="btn btn-outline-light">인증번호 전송</button>
                        <div id="emailSendCheck"></div>

                        <!--이메일 인증 번호 체크-->
                        <label for="emailCheckNumber"></label><input type="text" name="emailCheckNumber" id="emailCheckNumber" placeholder="이메일 인증번호">
                        <div id="emailNumberCheckLine"></div>
                        <button type="button" id="emailCheckNumberBtn" class="btn btn-outline-light">인증번호 확인</button>


                        <label for="pwd"></label><input type="password" name="pwd" id="pwd" placeholder="비밀번호">
                        <div id="checkpwdvalue"></div>
                        <label for="pwdCheck"></label><input type="password" id="pwdCheck" placeholder="비밀번호 확인" disabled>
                        <div id="checkpwd"></div>
                        <label for="nickName"></label><input type="text" name="nickName" id="nickName" placeholder="이름">
                        <label for="phone"></label><input type="text" oninput="autoHyphen2(this)" maxlength="13" name="phone" id="phone" placeholder="휴대폰번호를 입력해주세요. ‘－’은 자동으로 입력됩니다. ">
                        <div id="phoneCheck"></div>


                        <button type="submit" id="joinMembership" class="form_btn regLogBtn" disabled>회원가입</button>

                    </form>
                </div>
                <div class="sign-in-container">
                    <form action="/member/login" method="post">
                        <img height="70px" src="/dist/image/logoWhite1.png" class="registerLogo">
                        <h1>로그인</h1>

                        <div class="social-login">
                            <a href="/oauth2/authorization/kakao" class="button kakao-login">
                                <img src="/dist/image/kakaotalk-seeklogo.svg" alt="Kakao Logo">
                                카카오 로그인
                            </a>
                            <a href="/oauth2/authorization/naver" class="button naver-login">
                                <img src="/dist/image/btnW_icon.png" alt="Naver Logo">
                                네이버 로그인
                            </a>
                            <a href="/oauth2/authorization/google" class="button google-login">
                                <img src="/dist/image/goglelogo.png" alt="Google Logo">
                                구글 로그인
                            </a>
                        </div>


                        <span class="spanLR"><a class="nav-link active" aria-current="page" th:href="@{/member/findEmailPwd}">아이디/비밀번호를 잊어버리셨나요?</a></span>
                        <label for="e"></label><input type="text" name="email" id="e" placeholder="ID...">
                        <label for="p"></label><input type="password" name="pwd" id="p"
                                                      placeholder="Password...">
                        <button type="submit" class="form_btn regLogBtn" id="loginBtn">로그인</button>

                        <div th:if="error" class="errorMsgBox">
                            <p id="valid" style="color: red; font-size:14px;"><a th:text="${exception}"></a></p>
                        </div>



                    </form>
                </div>
                <div class="overlay-container">
                    <div class="overlay-left">
                        <img height="70px" src="/dist/image/logoWhite1.png" class="registerLogo">
                        <h1>환영합니다!</h1>
                        <p>회원가입을 원하시면 </p>
                        <p>이메일, 비밀번호, 이름, 휴대폰번호를</p>
                        <p>입력해주세요!</p>
                        <button id="signIn" class="overlay_btn">로그인 하러가기!</button>
                    </div>
                    <div class="overlay-right">
                        <img height="70px" src="/dist/image/logoWhite1.png" class="registerLogo">
                        <h1>환영합니다!</h1>
                        <p>SecretCode 회원가입을 원하시면 버튼을 눌러주세요!</p>
                        <button id="signUp" class="overlay_btn">회원가입 하러가기!</button>
                    </div>
                </div>
            </div>
        </div>

        <script th:inline="javascript">
            document.getElementById("emailCheckNumber").style.display="none";
            document.getElementById("emailCheckNumberBtn").style.display="none";
            document.getElementById("emailSendNumberBtn").style.display="none";
        </script>


        <script th:src="@{/dist/js/login_register.js}"></script>

    </th:block>
</th:block>