<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--        <link rel="stylesheet" th:href="@{/dist/css/mainHome.css}">-->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/dist/css/styles.css}">
</head>


<th:block th:replace="~{layout :: setFragment(~{this::content})}">
    <th:block th:fragment="content">

        <div class="main-container">

            <div class="posters-row row1" id="posters-row1">

                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster51.jpeg}" alt="Poster 51" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster2.jpeg}" alt="Poster 2" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster1.jpeg}" alt="Poster 1" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster6.jpeg}" alt="Poster 6" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster7.jpeg}" alt="Poster 7" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster8.jpeg}" alt="Poster 8" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster9.jpeg}" alt="Poster 9" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster10.jpeg}" alt="Poster 10" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster11.jpeg}" alt="Poster 11" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster12.jpeg}" alt="Poster 12" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster29.jpeg}" alt="Poster 29" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster17.jpeg}" alt="Poster 17" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster15.jpeg}" alt="Poster 15" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster16.jpeg}" alt="Poster 16" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster17.jpeg}" alt="Poster 17" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster18.jpeg}" alt="Poster 18" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster39.jpeg}" alt="Poster 39" style="width:200px" height="300px"></a></div>
            </div>
            <div class="posters-row row2" id="posters-row2">
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster19.jpeg}" alt="Poster 19" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster39.jpeg}" alt="Poster 39" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster21.jpeg}" alt="Poster 21" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster22.jpeg}" alt="Poster 22" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster23.jpeg}" alt="Poster 23" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster24.jpeg}" alt="Poster 24" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster57.png}" alt="Poster 57" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster26.jpeg}" alt="Poster 26" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster27.jpeg}" alt="Poster 27" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster28.jpeg}" alt="Poster 28" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster13.jpeg}" alt="Poster 13" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster53.jpeg}" alt="Poster 56" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster31.jpeg}" alt="Poster 3" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster42.jpeg}" alt="Poster 32" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster47.jpeg}" alt="Poster 33" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster30.jpeg}" alt="Poster 30" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster35.jpeg}" alt="Poster 35" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster36.jpeg}" alt="Poster 36" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster37.jpeg}" alt="Poster 37" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster30.jpeg}" alt="Poster 30" style="width:200px" height="300px"></a></div>
                <!--                <div class="poster"><img th:src="@{/dist/image/poster39.jpeg}" alt="Poster 1" style="width:200px" height="300px"></div>-->
            </div>
            <div class="posters-row row3" id="posters-row3">
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster40.jpeg}" alt="Poster 40" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster41.jpeg}" alt="Poster 41" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster46.jpeg}" alt="Poster 42" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster43.jpeg}" alt="Poster 43" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster44.jpeg}" alt="Poster 44" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster59.png}" alt="Poster 59" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster32.jpeg}" alt="Poster 46" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster60.jpeg}" alt="Poster 60" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster48.jpeg}" alt="Poster 48" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster49.jpeg}" alt="Poster 49" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster57.jpeg}" alt="Poster 57" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster33.jpeg}" alt="Poster 33" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster58.jpeg}" alt="Poster 58" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster40.jpeg}" alt="Poster 40" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster50.jpeg}" alt="Poster 50" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster61.jpeg}" alt="Poster 61" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster37.jpeg}" alt="Poster 37" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster6.jpeg}" alt="Poster 6" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster7.jpeg}" alt="Poster 7" style="width:200px" height="300px"></a></div>
                <div class="poster"><a th:href="@{/theme/mainHome}"><img th:src="@{/dist/image/poster8.jpeg}" alt="Poster 8" style="width:200px" height="300px"></a></div>
            </div>
            <div class="text-overlay">
                어두운 곳에서 눈을 떠보니<br>
                눈앞에 새로운 세상이 펼쳐졌다.
            </div>



        </div>



        <script th:inline="javascript">
            const msg_register = [[${msg_register}]];
            console.log(msg_register);
                if(msg_register === "1"){
                    alert("회원가입이 완료되었습니다.");
                }
        </script>


    </th:block>
</th:block>









